@(args: (Symbol, Any)*)(implicit messages: Messages)
@inputArgs = @{ args.toMap }
@errors = @{ inputArgs.getOrElse('_errors, "") }

<div class="error-summary error-summary--show" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

    <h2 class="h2-heading" id="error-summary-heading">
        @messages("error.summary.title")
    </h2>

    <p>@messages("error.summary.text")</p>

    <ul class="error-summary-list">
        <li><a href="#comp-input-text">Descriptive link to the question with an error</a></li>
        <li><a href="#comp-input-date-day">Descriptive link to the question with an error</a></li>
        <li><a href="#comp-input-yn-1">Descriptive link to the question with an error</a></li>
    </ul>

</div>