@(
id: String,
label: String,
errorKey: String,
value: Option[String] = None,
secondaryLabel: Option[String] = None,
inputClass: Option[String] = None,
hint: Option[String] = None,
name: String = "value"
)(implicit messages: Messages)





<div class="form-field @if(errorKey != ""){form-field--error}">
    <label class="form-label" for="@id">
        <span>@label</span>
        @if(hint != ""){
        <span class="form-hint">@hint</span>
        }
        @if(errorKey != ""){
        <span class="error-notification" id="error-message-this-input">@messages(errorKey)</span>
        }
    </label>
    <div class="form-control-wrapper" data-type="@secondaryLabel">
        <input
                class="form-control @inputClass @if(secondaryLabel == "currency"){form-control-1-3} @if(secondaryLabel == "percentage"){form-control-1-4}"
                type="text"
                id="@id"
                name="@name"
                value="@value"
                aria-describedby="error-message-this-input"
        />
    </div>
</div>