@(
id: String,
label: String,
errorKey: String,
value: Option[String] = None,
secondaryLabel: Option[String] = None,
inputClass: Option[String] = None,
hint: Option[String] = None,
yesAssoc: Option[String] = None,
noAssoc: Option[String] = None
)(implicit messages: Messages)


<div class="form-field @if(errorKey != ""){form-field--error}">
    <fieldset class="inline">

        <legend>@label</legend>
        @if(hint != ""){
        <div class="form-hint">@hint</div>
        }
        @if(errorKey != ""){
        <span class="error-notification" id="error-message-this-input">@messages(errorKey)</span>
        }
        <label class="block-label selection-button-radio" for="@{id}-1" data-target="@if(yesAssoc != ""){@yesAssoc}">
            <input id="@{id}-1" type="radio" name="@{id}" value="true" @if(value == Some("Yes")){checked="checked"} />
            Yes
        </label>
        <label class="block-label selection-button-radio" for="@{id}-2" data-target="@if(noAssoc != ""){@noAssoc}">
            <input id="@{id}-2" type="radio" name="@{id}" value="false" @if(value == Some("No")){checked="checked"} />
            No
        </label>

    </fieldset>
</div>