@import uk.gov.hmrc.residencenilratebandcalculator.models.RadioOption

@(
name: String,
legend: String,
legendClass: Option[String] = None,
errorKey: String,
value: Option[String] = None,
hint: Option[String] = None,
inputs: Seq[RadioOption]
)(implicit messages: Messages)

<div class="form-field">
    <fieldset class="form-group" id="@{name}">
        <legend class="bold-small @if(legendClass.nonEmpty){@{legendClass.get}}">@legend</legend>
        @if(hint.nonEmpty){
        <span class="form-hint">@{hint.get}</span>
        }
        @if(errorKey.nonEmpty){
        <span class="error-notification" id="error-message-this-input">@messages(errorKey)</span>
        }
        @for(input <- inputs) {
        <label class="block-label selection-button-radio" for="@{input.id}">
            <input id="@{input.id}" type="radio" name="@{name}" value="@{input.value}" @if(value == Some(input.value)){checked="checked"} />
            @messages(input.messageKey)
        </label>
        }

    </fieldset>
</div>