@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.views.html._

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
  title = "Style Guide",
  appConfig = appConfig,
  bodyClasses = None) {
    <h1>Form Components</h1>
    <p class="lede">Demo page to show components</p>

    <form action="" method="post">

        <h2>Standard text input</h2>
        @rnrbHelpers.input_text(
        '_id -> "comp-input-text",
        '_value -> "",
        '_label -> "Label",
        '_hint -> "This is an input hint"
        )

        <h2>Percentage input</h2>
        @rnrbHelpers.input_text(
        '_id -> "comp-input-percent",
        '_value -> "",
        '_label -> "Label",
        '_hint -> "This is an input hint",
        '_secondaryLabel -> "percentage"
        )

        <h2>Currency input</h2>
        @rnrbHelpers.input_text(
        '_id -> "comp-input-currency",
        '_value -> "",
        '_label -> "Label",
        '_hint -> "This is an input hint",
        '_secondaryLabel -> "currency"
        )

        <h2>Date input</h2>
        @rnrbHelpers.input_date(
        '_id -> "comp-input-date",
        '_valueDay -> "10",
        '_valueMonth -> "2",
        '_valueYear -> "2016",
        '_label -> "Label",
        '_hint -> "This is an date hint"
        )

        <h2>Yes/No input</h2>
        @rnrbHelpers.input_yes_no(
        '_id -> "comp-input-yn",
        '_value -> "No",
        '_label -> "Label",
        '_hint -> "This is an input hint"
        )

        <h2>Yes/No input with associated field</h2>
        @rnrbHelpers.input_yes_no(
        '_id -> "comp-input-yn-assoc",
        '_label -> "Label",
        '_hint -> "This is an input hint",
        '_yesAssoc -> "associated-field",
        '_noAssoc -> "associated-field-null"
        )
        <div class="panel-indent panel-indent--gutter js-hidden" id="associated-field">
            @rnrbHelpers.input_text(
            '_id -> "comp-input-currency-assoc",
            '_value -> "",
            '_label -> "Label",
            '_hint -> "This is an input hint",
            '_secondaryLabel -> "currency"
            )
        </div>


        @rnrbHelpers.submit_button()


    </form>

}