@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.forms.DateForm._

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
  title = "Style Guide",
  appConfig = appConfig,
  bodyClasses = None) {
    <h1>Form Components</h1>
    <p class="lede">Demo page to show components</p>

    <form action="" method="post">


        @rnrbHelpers.error_summary(Seq())


        <h2>Standard text input</h2>
        @rnrbHelpers.input_text(
        id = "comp-input-text",
        label = "Label",
        errorKey = "Error message goes here",
        hint = Some("This is an input hint")
        )

        <h2>Percentage input</h2>
        @rnrbHelpers.input_text(
        id = "comp-input-percent",
        label = "Label",
        errorKey = "Error message goes here",
        hint = Some("This is an input hint"),
        secondaryLabel = Some("percentage")
        )

        <h2>Currency input</h2>
        @rnrbHelpers.input_text(
        id = "comp-input-currency",
        label = "Label",
        errorKey = "Error message goes here",
        hint = Some("This is an input hint"),
        secondaryLabel = Some("currency")
        )

        <h2>Date input</h2>
        @rnrbHelpers.input_date(
        formItem = dateOfDeathForm,
        fieldName = "dateOfDeath",
        label = "",
        childFormName = None,
        '_hintText -> messages("date_of_death.example"),
        '_groupId -> "responsibleFromDateFieldSet",
        '_groupClass -> "",
        '_labelTextClass -> "bold",
        '_legend -> Messages("date_of_death.label"),
        '_legendClass -> "visually-hidden",
        '_fieldsetId -> "dateOfDeath"
        )

        <h2>Yes/No input</h2>
        @rnrbHelpers.input_yes_no(
        id = "comp-input-yn",
        label = "Label",
        errorKey = "Error message goes here",
        value = Some("No"),
        hint = Some("This is an input hint")
        )

        <h2>Yes/No input with associated field</h2>
        @rnrbHelpers.input_yes_no(
        id = "comp-input-yn-assoc",
        label = "Label",
        errorKey = "Error message goes here",
        hint = Some("This is an input hint"),
        yesAssoc = Some("associated-field"),
        noAssoc = Some("associated-field-null")
        )
        <div class="panel-indent panel-indent--gutter js-hidden" id="associated-field">
            @rnrbHelpers.input_text(
            id = "comp-input-currency-assoc",
            label = "Label",
            errorKey = "Error message goes here",
            hint = Some("This is an input hint"),
            secondaryLabel = Some("currency")
            )
        </div>


        @rnrbHelpers.submit_button()


    </form>

}