@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.AnyDownsizingAllowanceController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Boolean]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("any_downsizing_allowance.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <a id="back" href=@backUrl>@messages("site.back")</a>

    <p>@messages("any_downsizing_allowance.question_number")</p>

    <h1>@messages("any_downsizing_allowance.title")</h1>

    <p>@messages("any_downsizing_allowance.guidance")</p>
    <ol>
        <li>@messages("any_downsizing_allowance.guidance1")</li>
        <li>@messages("any_downsizing_allowance.guidance2")</li>
        <li>@messages("any_downsizing_allowance.guidance3")</li>
    </ol>

    @helpers.form(action = AnyDownsizingAllowanceController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("any_downsizing_allowance.label"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form))
        )

        @rnrbHelpers.submit_button()
    }

}