@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes._
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Boolean]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("any_assets_passing_to_direct_descendants.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @rnrbHelpers.back_link(backUrl)

    @rnrbHelpers.heading_with_pre_text("any_assets_passing_to_direct_descendants.title", "any_assets_passing_to_direct_descendants.question_number")

    <p>@messages("any_assets_passing_to_direct_descendants.guidance")</p>


    @helpers.form(action = AnyAssetsPassingToDirectDescendantsController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("any_assets_passing_to_direct_descendants.label"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form))
        )

        @rnrbHelpers.submit_button()
    }
}
