@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.AnyExemptionController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Boolean]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("any_exemption.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @rnrbHelpers.back_link(backUrl)

    @rnrbHelpers.heading("any_exemption.title")

    <p>@messages("any_exemption.guidance1")</p>

    <p>@messages("any_exemption.guidance2")</p>

    @helpers.form(action = AnyExemptionController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("any_exemption.label"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form))
        )

        @rnrbHelpers.submit_button()
    }
}
