@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.AnyEstatePassedToDescendantsController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("any_estate_passed_to_descendants.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @rnrbHelpers.back_link(backUrl)

    @rnrbHelpers.heading("any_estate_passed_to_descendants.title")

    <p>@messages("any_estate_passed_to_descendants.guidance1")</p>

    <section class="section">

        <details>
            <summary>@messages("any_estate_passed_to_descendants.reveal_title")</summary>
            <div class="panel-indent panel-indent--gutter">
                <p>@messages("any_estate_passed_to_descendants.guidance2")</p>
                <ul class="list list-bullet">
                    <li>@messages("any_estate_passed_to_descendants.guidance2.bullet1")</li>
                    <li>@messages("any_estate_passed_to_descendants.guidance2.bullet2")</li>
                    <li>@messages("any_estate_passed_to_descendants.guidance2.bullet3")</li>
                    <li>@messages("any_estate_passed_to_descendants.guidance2.bullet4")</li>
                    <li>@messages("any_estate_passed_to_descendants.guidance2.bullet5")</li>
                    <li>@messages("any_estate_passed_to_descendants.guidance2.bullet6")</li>
                    <li>@messages("any_estate_passed_to_descendants.guidance2.bullet7")</li>
                </ul>
                <p>@messages("any_estate_passed_to_descendants.guidance3")</p>
            </div>
        </details>
    </section>

    @helpers.form(action = AnyEstatePassedToDescendantsController.onSubmit(), 'autoComplete -> "off") {

    @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

    @rnrbHelpers.input_yes_no(
        id = "value",
        label = messages("any_estate_passed_to_descendants.title"),
        labelClass = Some("visually-hidden"),
        errorKey = FormHelpers.getErrorByKey(form, "value"),
        value = Some(FormHelpers.getYesNo(form)))

        @rnrbHelpers.submit_button()
    }

    @rnrbHelpers.answer_rows(answerRows)
}
