@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes._
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow], formattedPropertyValue: Option[String])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("assets_passing_to_direct_descendants.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = AssetsPassingToDirectDescendantsController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.back_link(backUrl)

        @rnrbHelpers.heading("assets_passing_to_direct_descendants.title")

        @if(formattedPropertyValue.isDefined) {
            <p>@messages("assets_passing_to_direct_descendants.guidance", formattedPropertyValue.get)</p>
        } else {
            <p>@messages("assets_passing_to_direct_descendants.guidance_no_property")</p>
        }

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("assets_passing_to_direct_descendants.title"),
            labelClass = Some("visually-hidden"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form))
        )

        @rnrbHelpers.submit_button()
    }

    @rnrbHelpers.answer_rows(answerRows)
}
