@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("before_you_start.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("before_you_start.title")</h1>

    <p>@messages("before_you_start.guidance1")</p>

    <p>@messages("before_you_start.guidance2")</p>
    <ul class="list list-bullet">
        <li>@messages("before_you_start.guidance2.bullet1")</li>
        <li>@messages("before_you_start.guidance2.bullet2")</li>
    </ul>

    <p>@messages("before_you_start.guidance3")</p>
    <ul class="list list-bullet">
        <li>@messages("before_you_start.guidance3.bullet1")</li>
    </ul>

    <h2 class="heading-medium">@messages("before_you_start.sub_heading")</h2>

    <p class="heading-small">@messages("before_you_start.guidance4")</p>

    <p class="heading-small">@messages("before_you_start.guidance5")</p>

    <ul class="list list-bullet">
        <li>@messages("before_you_start.guidance5.bullet1")</li>
        <li>@messages("before_you_start.guidance5.bullet2")</li>
        <li>@messages("before_you_start.guidance5.bullet3")</li>
        <li>@messages("before_you_start.guidance5.bullet4")</li>
        <li>@messages("before_you_start.guidance5.bullet5")</li>
    </ul>


    <p>@messages("before_you_start.guidance6")</p>

    <p>
        <a href="@routes.PurposeOfUseController.onPageLoad().url" class="button" id="start">@messages("site.start")</a>
    </p>
}
