@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("before_you_start.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("before_you_start.title")</h1>

    <p>@messages("before_you_start.guidance")</p>

    <p>
        <a href="@routes.DateOfDeathController.onPageLoad().url" class="button" id="start">@messages("site.start")</a>
    </p>
}
