@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("calculate_threshold_increase.browser_title"),
    appConfig = appConfig,
    bodyClasses = None,
    enableTimeout = false) {

    @rnrbHelpers.heading("calculate_threshold_increase.title", "heading-xlarge")

    <p>@messages("calculate_threshold_increase.guidance1")</p>

    <ul class="list list-bullet">
        <li>@messages("calculate_threshold_increase.guidance2.bullet1")</li>
        <li>@messages("calculate_threshold_increase.guidance2.bullet2")</li>
        <li>@messages("calculate_threshold_increase.guidance2.bullet3")</li>
    </ul>

    <p>@messages("calculate_threshold_increase.guidance3")</p>

    <p>
        <a href="@routes.DateOfDeathController.onPageLoad().url" class="button button--get-started" role="button" id="start">@messages("site.start_now")</a>
    </p>

}
