@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig, form: Option[Form[Int]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("chargeable_transfer_amount.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("chargeable_transfer_amount.title")</h1>

    <p>@messages("chargeable_transfer_amount.guidance")</p>

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ChargeableTransferAmountController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.input_text(
            '_value -> FormHelpers.getValue[Int](form),
            '_label -> "Chargeable Transfer Amount",
            '_hint -> "This is an input hint"
        )
        @rnrbHelpers.submit_button()
    }
}
