@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig, form: Option[Form[Int]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("chargeable_transfer_amount.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("chargeable_transfer_amount.title")</h1>

    <p>@messages("chargeable_transfer_amount.guidance")</p>


    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ChargeableTransferAmountController.onSubmit(), 'autoComplete -> "off") {

        <input type="text" id="value" name="value" value="@form.map(f => f.value)" />

        <input type="submit" />
    }

}