@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig, form: Option[Form[Int]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("chargeable_transfer_amount.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <p>@messages("chargeable_transfer_amount.question_number")</p>

    <h1>@messages("chargeable_transfer_amount.title")</h1>

    <p>@messages("chargeable_transfer_amount.guidance")</p>

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ChargeableTransferAmountController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.input_text(
            id = "value",
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            label = messages("chargeable_transfer_amount.label"),
            secondaryLabel = Some("currency"),
            value = Some(FormHelpers.getValue[Int](form).toString)
        )
        @rnrbHelpers.submit_button()
    }
}
