@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, data: Seq[AnswerRow], resultsPage: Call)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("check_answers.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("check_answers.title")</h1>

    @rnrbHelpers.answer_rows(data)

    <a href="@resultsPage.url" class="button">@messages("check_answers.button_text")</a>
}
