@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ClaimDownsizingThresholdController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("claim_downsizing_threshold.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = ClaimDownsizingThresholdController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("claim_downsizing_threshold.title")

        <p>@messages("claim_downsizing_threshold.guidance1")</p>
        <ul class="list list-bullet">
            <li>@messages("claim_downsizing_threshold.guidance1.bullet1")</li>
            <li>@messages("claim_downsizing_threshold.guidance1.bullet2")</li>
            <li>@messages("claim_downsizing_threshold.guidance1.bullet3")</li>
            <li>@messages("claim_downsizing_threshold.guidance1.bullet4")</li>
        </ul>

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("claim_downsizing_threshold.title"),
            labelClass = Some("visually-hidden"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form))
        )

        @rnrbHelpers.submit_button()
    }
    @rnrbHelpers.answer_rows(answerRows)
}