@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.models.Date
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, form: Form[Date], answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("date_property_was_changed.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.DatePropertyWasChangedController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(Some(form)))

        @rnrbHelpers.heading("date_property_was_changed.title")

        <p>@messages("date_property_was_changed.guidance1")</p>

        <p>@messages("date_property_was_changed.guidance2")</p>

        @rnrbHelpers.date_fields(
            form,
            "dateOfDownsizing",
            "",
            None,
            '_hintText -> messages("date_property_was_changed.hint"),
            '_groupId -> "responsibleFromDateFieldSet",
            '_groupClass -> "",
            '_labelTextClass -> "bold",
            '_legend -> messages("date_property_was_changed.browser_title"),
            '_legendClass -> "visually-hidden",
            '_fieldsetId -> "dateOfDownsizing"
        )

        @rnrbHelpers.submit_button()

    }
    @rnrbHelpers.answer_rows(answerRows)

}
