@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.models.Date
@import uk.gov.hmrc.residencenilratebandcalculator.models.DateFull
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.residencenilratebandcalculator.models.Day
@import uk.gov.hmrc.residencenilratebandcalculator.models.Month
@import uk.gov.hmrc.residencenilratebandcalculator.models.Year

@(appConfig: FrontendAppConfig, form: Form[DateFull])(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("date_of_death.browser_title"),
    appConfig = appConfig,
    bodyClasses = None,
    enableTimeout = false) {


    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.DateOfDeathController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(Some(form)))

        @rnrbHelpers.heading("date_of_death.title")

        <p>@messages("date_of_death.guidance")</p>

        @rnrbHelpers.date_fields(
        form,
        "dateOfDeath",
        "",
        None,
        '_hintText -> messages("date_of_death.example"),
        '_groupId -> "responsibleFromDateFieldSet",
        '_groupClass -> "",
        '_labelTextClass -> "bold",
        '_legend -> Messages("date_of_death.label"),
        '_legendClass -> "visually-hidden",
        '_fieldsetId -> "date-of-death"
        )

        @rnrbHelpers.submit_button()
    }
}
