@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.models.Date
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@import uk.gov.hmrc.residencenilratebandcalculator.models.Day
@import uk.gov.hmrc.residencenilratebandcalculator.models.Month
@import uk.gov.hmrc.residencenilratebandcalculator.models.Year
@(appConfig: FrontendAppConfig, form: Option[Form[Date]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("date_of_death.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("date_of_death.title")</h1>

    <p>@messages("date_of_death.guidance")</p>

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.DateOfDeathController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.input_date(
            '_valueDay -> FormHelpers.getDatePart(form, Day),
            '_valueMonth -> FormHelpers.getDatePart(form, Month),
            '_valueYear -> FormHelpers.getDatePart(form, Year),
            '_label -> messages("date_of_death.label")
        )

        @rnrbHelpers.submit_button()
    }
}
