@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.DoesGrossingUpApplyToOtherPropertyController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("does_grossing_up_apply_to_other_property.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @rnrbHelpers.back_link(backUrl)

    @rnrbHelpers.heading_with_pre_text("does_grossing_up_apply_to_other_property.title", "does_grossing_up_apply_to_other_property.question_number")

    <p>@messages("does_grossing_up_apply_to_other_property.guidance")</p>
    <ul class="list list-bullet">
        <li>@messages("does_grossing_up_apply_to_other_property.guidance.bullet1")</li>
        <li>@messages("does_grossing_up_apply_to_other_property.guidance.bullet2")</li>
    </ul>

    @helpers.form(action = DoesGrossingUpApplyToOtherPropertyController.onSubmit(), 'autoComplete -> "off") {

    @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

    @rnrbHelpers.input_yes_no(
        id = "value",
        label = messages("does_grossing_up_apply_to_other_property.label"),
        errorKey = FormHelpers.getErrorByKey(form, "value"),
        value = Some(FormHelpers.getYesNo(form)))

        @rnrbHelpers.submit_button()
    }
}
