@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.EstateHasPropertyController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@(appConfig: FrontendAppConfig, form: Option[Form[Boolean]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("estate_has_property.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

        <h1>@messages("estate_has_property.title")</h1>

        <p>@messages("estate_has_property.guidance")</p>


        @helpers.form(action = EstateHasPropertyController.onSubmit(), 'autoComplete -> "off") {

            @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

            @rnrbHelpers.input_yes_no(
                id = "value",
                label = messages("estate_has_property.label"),
                errorKey = FormHelpers.getErrorByKey(form, "value"),
                value = Some(FormHelpers.getYesNo(form).toString)
            )

            @rnrbHelpers.submit_button()
    }
}
