@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ExemptionsAndReliefClaimedController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("exemptions_and_relief_claimed.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = ExemptionsAndReliefClaimedController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("exemptions_and_relief_claimed.title")

        <p>@messages("exemptions_and_relief_claimed.guidance1")</p>
        <p>@messages("exemptions_and_relief_claimed.guidance2")</p>
        <ul class="list list-bullet">
            <li>@messages("exemptions_and_relief_claimed.guidance2.bullet1")</li>
            <li>@messages("exemptions_and_relief_claimed.guidance2.bullet2")</li>
            <li>@messages("exemptions_and_relief_claimed.guidance2.bullet3")</li>
        </ul>

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("exemptions_and_relief_claimed.title"),
            labelClass = Some("visually-hidden"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form))
        )

        @rnrbHelpers.submit_button()
    }
    @rnrbHelpers.answer_rows(answerRows)
}
