@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes._
@import uk.gov.hmrc.residencenilratebandcalculator.utils.{FormHelpers, ExitQuestionnaireFormHelper}
@import uk.gov.hmrc.residencenilratebandcalculator.models.ExitQuestionnaire

@import uk.gov.hmrc.residencenilratebandcalculator.models.FullName
@import uk.gov.hmrc.residencenilratebandcalculator.models.Email
@import uk.gov.hmrc.residencenilratebandcalculator.models.PhoneNumber
@import uk.gov.hmrc.residencenilratebandcalculator.Constants

@import uk.gov.hmrc.residencenilratebandcalculator.utils.LocalPartialRetriever

@(appConfig: FrontendAppConfig, form: Option[Form[ExitQuestionnaire]] = None)(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application], localPartialRetriever: LocalPartialRetriever)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("exit_questionnaire.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @rnrbHelpers.heading("exit_questionnaire.title", "heading-xlarge")

    <p>@messages("exit_questionnaire.guidance")</p>

    @rnrbHelpers.button_link(messageKey = "service.no_thanks", href=Constants.callExitService.url)

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ExitQuestionnaireController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.input_radio(
            name = "serviceFeel",
            legend = messages("exit_questionnaire.service_feel.label"),
            errorKey = FormHelpers.getErrorByKey(form, "serviceFeel"),
            inputs = ExitQuestionnaire.serviceFeelOptions
        )

        @rnrbHelpers.input_radio(
            name = "serviceDifficulty",
            legend = messages("exit_questionnaire.service_difficulty.label"),
            errorKey = FormHelpers.getErrorByKey(form, "serviceDifficulty"),
            inputs = ExitQuestionnaire.serviceDifficultyOptions
        )

        @rnrbHelpers.input_textarea(
            id = "comments",
            name = "comments",
            label = messages("exit_questionnaire.comments.label"),
            inputClass = Some("textarea--fullwidth"),
            errorKey = FormHelpers.getErrorByKey(form, "comments")
        )

        <p>@messages("exit_questionnaire.comments.help.2")</p>

        <h2>@messages("exit_questionnaire.user_research.title")</h2>

        <p>@messages("exit_questionnaire.user_research.guidance")</p>

        @rnrbHelpers.input_text(
            id = "fullName",
            name = "fullName",
            value = Some(ExitQuestionnaireFormHelper.getValueByKey(form, FullName)),
            label = messages("exit_questionnaire.full_name.label"),
            errorKey = FormHelpers.getErrorByKey(form, "fullName")
        )

        @rnrbHelpers.input_text(
            id = "email",
            name = "email",
            value = Some(ExitQuestionnaireFormHelper.getValueByKey(form, Email)),
            label = messages("exit_questionnaire.email.label"),
            errorKey = FormHelpers.getErrorByKey(form, "email")
        )

        @rnrbHelpers.input_text(
            id = "phoneNumber",
            name = "phoneNumber",
            value = Some(ExitQuestionnaireFormHelper.getValueByKey(form, PhoneNumber)),
            label = messages("exit_questionnaire.phone_number.label"),
            errorKey = FormHelpers.getErrorByKey(form, "phoneNumber")
        )

        @rnrbHelpers.submit_button()
    }
}