@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig, form: Option[Form[Int]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("gross_estate_value.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("gross_estate_value.title")</h1>

    <p>@messages("gross_estate_value.guidance")</p>


    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.GrossEstateValueController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.input_text(
            '_value -> form.fold("")(f => f.get.toString),
            '_label -> "Gross Estate label",
            '_hint -> "This is an input hint",
            '_secondaryLabel -> "percentage"
        )

        @rnrbHelpers.submit_button()

    }

}