@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Int]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("gross_estate_value.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @rnrbHelpers.back_link(backUrl)

    @rnrbHelpers.heading_with_pre_text("gross_estate_value.title", "gross_estate_value.question_number")

    <p>@messages("gross_estate_value.guidance")</p>


    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.GrossEstateValueController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.input_text(
            id = "value",
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            label = messages("gross_estate_value.label"),
            secondaryLabel = Some("currency"),
            value = Some(FormHelpers.getValue[Int](form).toString)
        )

        @rnrbHelpers.submit_button()

    }

}