@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.GrossingUpOnEstatePropertyController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("grossing_up_on_estate_property.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = GrossingUpOnEstatePropertyController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("grossing_up_on_estate_property.title")

        <p>@messages("grossing_up_on_estate_property.guidance1")</p>

        <p>@messages("grossing_up_on_estate_property.guidance2")</p>

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("grossing_up_on_estate_property.title"),
            labelClass = Some("visually-hidden"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form)))

        @rnrbHelpers.submit_button()
    }
    @rnrbHelpers.answer_rows(answerRows)

}
