@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.utils.LocalPartialRetriever

@(title: String,
  appConfig: FrontendAppConfig,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None,
  enableTimeout: Boolean = true
)(mainContent: Html)(implicit request : Request[_], messages: Messages, applicationProvider: Provider[Application], localPartialRetriever: LocalPartialRetriever)

@import uk.gov.hmrc.play.views.html.layouts

@serviceInfoContent = {}

@betaBanner = {}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}
@if(!appConfig.fullStyle) {

    @basic_template(
        appConfig = appConfig,
        title = title,
        mainClass = mainClass,
        bodyClasses = bodyClasses,
        sidebar = sidebar,
        contentHeader = contentHeader,
        mainContent = layouts.article(mainContent),
        serviceInfoContent = serviceInfoContent,
        scriptElem = scriptElem,
        betaBanner = betaBanner,
        enableTimeout = enableTimeout
    )

} else {

    @govuk_wrapper(
        appConfig = appConfig,
        title = title,
        mainClass = mainClass,
        bodyClasses = bodyClasses,
        sidebar = sidebar,
        contentHeader = contentHeader,
        mainContent = layouts.article(mainContent),
        serviceInfoContent = serviceInfoContent,
        scriptElem = scriptElem,
        betaBanner = betaBanner,
        enableTimeout = enableTimeout)
}
