@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, reasonKey: String, nextPage: Call, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("no_additional_threshold_available.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1 class="heading-large">@messages("no_additional_threshold_available.title")</h1>

    <div class="panel-indent">
        <p>@messages(reasonKey)</p>
    </div>

    <p>@messages("no_additional_threshold_available.guidance")</p>

    <a href="@nextPage.url" class="button u--no-print">@messages("site.continue")</a>

    @rnrbHelpers.answer_rows(answerRows)

}
