@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ExitQuestionnaireController
@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, prefix: String, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages, application: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("no_threshold_increase.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1 class="heading-large">@messages(s"${prefix}.title")</h1>

    <div class="panel-indent panel-indent--gutter">
        <p>@messages(s"${prefix}.reason")</p>
    </div>

    <a href="@ExitQuestionnaireController.onPageLoad().url" class="button u--no-print">@messages("site.finish")</a>

    @rnrbHelpers.answer_rows(answerRows)
}
