@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.PartOfEstatePassingToDirectDescendantsController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(
implicit request: Request[_], messages: Messages, application: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("part_of_estate_passing_to_direct_descendants.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = PartOfEstatePassingToDirectDescendantsController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("part_of_estate_passing_to_direct_descendants.title")

        <p>@messages("part_of_estate_passing_to_direct_descendants.guidance1")</p>
        <p>@messages("part_of_estate_passing_to_direct_descendants.guidance2")</p>

        <section class="section">

            <details>
                <summary><span class="summary">@messages("part_of_estate_passing_to_direct_descendants.reveal_title")</span></summary>
                <div class="panel-indent panel-indent--gutter">
                    <p>@messages("part_of_estate_passing_to_direct_descendants.guidance3")</p>
                    <ul class="list list-bullet">
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet1")</li>
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet2")</li>
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet3")</li>
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet4")</li>
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet5")</li>
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet6")</li>
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet7")</li>
                        <li>@messages("part_of_estate_passing_to_direct_descendants.guidance3.bullet8")</li>
                    </ul>
                    <p>@messages("part_of_estate_passing_to_direct_descendants.guidance4")</p>
                </div>
            </details>
        </section>

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("part_of_estate_passing_to_direct_descendants.title"),
            labelClass = Some("visually-hidden"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form)))

        @rnrbHelpers.submit_button()
    }

    @rnrbHelpers.answer_rows(answerRows)
}
