@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.play.views.html._

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[BigDecimal]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("percentage_passed_to_direct_descendants.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.PercentagePassedToDirectDescendantsController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.back_link(backUrl)

        @rnrbHelpers.heading("percentage_passed_to_direct_descendants.title")

        <p>@messages("percentage_passed_to_direct_descendants.guidance")</p>

        @rnrbHelpers.input_text(
            id = "value",
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            label = messages("percentage_passed_to_direct_descendants.title"),
            labelClass = Some("visually-hidden"),
            secondaryLabel = Some("percentage"),
            value = Some(FormHelpers.getValue[BigDecimal](form).toString)
        )
        @rnrbHelpers.submit_button()
    }
    @rnrbHelpers.answer_rows(answerRows)

}
