@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.PropertyInEstateController
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("property_in_estate.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = PropertyInEstateController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("property_in_estate.title")

        <p>@messages("property_in_estate.guidance1")</p>

        <p>@messages("property_in_estate.guidance2")</p>

        @rnrbHelpers.input_yes_no(
                id = "value",
                label = messages("property_in_estate.title"),
                labelClass = Some("visually-hidden"),
                errorKey = FormHelpers.getErrorByKey(form, "value"),
                value = Some(FormHelpers.getYesNo(form).toString)
            )

            @rnrbHelpers.submit_button()
    }

    @rnrbHelpers.answer_rows(answerRows)

}
