@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig, form: Option[Form[Int]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("property_value.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("property_value.title")</h1>

    <p>@messages("property_value.guidance")</p>

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.PropertyValueController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.input_text(
            '_value -> form.fold("")(f => f.get.toString),
            '_label -> "Property Value",
            '_hint -> "This is an input hint"
        )
        @rnrbHelpers.submit_button()
    }
}
