@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.utils.{FormHelpers, PropertyValueAfterExemptionFormHelper}
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.models.{PropertyValueAfterExemption, PropertyValue, PropertyValueCloselyInherited}

@(appConfig: FrontendAppConfig, form: Option[Form[PropertyValueAfterExemption]] = None)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("property_value_after_exemption.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    <h1>@messages("property_value_after_exemption.title")</h1>

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.PropertyValueAfterExemptionController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.input_text(
            id = "propertyValue",
            name = "propertyValue",
            value = Some(PropertyValueAfterExemptionFormHelper.getValueByKey(form, PropertyValue).toString),
            label = messages("property_value_after_exemption.property_value.label"),
            secondaryLabel = Some("currency"),
            errorKey = FormHelpers.getErrorByKey(form, "propertyValue")
        )
        @rnrbHelpers.input_text(
            id = "propertyValueCloselyInherited",
            name = "propertyValueCloselyInherited",
            value = Some(PropertyValueAfterExemptionFormHelper.getValueByKey(form, PropertyValueCloselyInherited).toString),
            label = messages("property_value_after_exemption.property_value_closely_inherited.label"),
            secondaryLabel = Some("currency"),
            errorKey = FormHelpers.getErrorByKey(form, "propertyValueCloselyInherited")
        )

        @rnrbHelpers.submit_button()
    }
}
