@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes._
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.residencenilratebandcalculator.Constants
@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, form: Option[Form[String]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("property_passing_to_direct_descendants.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = PropertyPassingToDirectDescendantsController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("property_passing_to_direct_descendants.title")

        <p>@messages("property_passing_to_direct_descendants.guidance1")</p>

        <p>@messages("property_passing_to_direct_descendants.guidance2")</p>

        @rnrbHelpers.input_radio(
            name = "value",
            legend = messages("property_passing_to_direct_descendants.title"),
            legendClass = Some("visually-hidden"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            inputs = Constants.propertyPassingToDirectDescendantsOptions,
            value = Some(FormHelpers.getValue[String](form).toString)
        )

        @rnrbHelpers.submit_button()
    }
    @rnrbHelpers.answer_rows(answerRows)
}
