@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages, application: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("session_expired.browser_title"),
    appConfig = appConfig,
    bodyClasses = None,
    enableTimeout = false
) {

    <h1 class="heading-xlarge">@messages("session_expired.title")</h1>

    <p>@messages("session_expired.guidance")</p>
    <p>
        <a href="@routes.DateOfDeathController.onPageLoad().url" class="button" role="button" id="start-again">@messages("site.start_again")</a>
    </p>

}
