@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.residencenilratebandcalculator.controllers.routes._
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@import uk.gov.hmrc.residencenilratebandcalculator.utils.LocalPartialRetriever
@(appConfig: FrontendAppConfig, form: Option[Form[Boolean]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application], localPartialRetriever: LocalPartialRetriever)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("transfer_available_when_property_changed.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = TransferAvailableWhenPropertyChangedController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("transfer_available_when_property_changed.title")

        <p>@messages("transfer_available_when_property_changed.guidance")</p>

        @rnrbHelpers.input_yes_no(
            id = "value",
            label = messages("transfer_available_when_property_changed.title"),
            labelClass = Some("visually-hidden"),
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            value = Some(FormHelpers.getYesNo(form))
        )

        @rnrbHelpers.submit_button()
    }
    @rnrbHelpers.answer_rows(answerRows)
}
