@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.play.views.html._

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow
@(appConfig: FrontendAppConfig, backUrl: String, form: Option[Form[Int]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("value_of_estate.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ValueOfEstateController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.back_link(backUrl)

        @rnrbHelpers.heading("value_of_estate.title")

        <p>@messages("value_of_estate.guidance1")</p>
        <ul class="list list-bullet">
            <li>@messages("value_of_estate.guidance1.bullet1")</li>
            <li>@messages("value_of_estate.guidance1.bullet2")</li>
            <li>@messages("value_of_estate.guidance1.bullet3")</li>
            <li>@messages("value_of_estate.guidance1.bullet4")</li>
        </ul>

        <p>@messages("value_of_estate.guidance2")</p>
        
        @rnrbHelpers.input_text(
            id = "value",
            errorKey = FormHelpers.getErrorByKey(form, "value"),
            label = messages("value_of_estate.title"),
            labelClass = Some("visually-hidden"),
            secondaryLabel = Some("currency"),
            value = Some(FormHelpers.getValue[Int](form).toString)
        )

        @rnrbHelpers.submit_button()
    }

    @rnrbHelpers.answer_rows(answerRows)
}
