@import play.api.Application; import com.google.inject.Provider
@import uk.gov.hmrc.residencenilratebandcalculator.FrontendAppConfig
@import uk.gov.hmrc.residencenilratebandcalculator.utils.FormHelpers
@import uk.gov.hmrc.play.views.html._

@import uk.gov.hmrc.residencenilratebandcalculator.models.AnswerRow

@(appConfig: FrontendAppConfig, form: Option[Form[Int]] = None, answerRows: Seq[AnswerRow])(implicit request: Request[_], messages: Messages, applicationProvider: Provider[Application])

@uk.gov.hmrc.residencenilratebandcalculator.views.html.main_template(
    title = messages("value_of_changed_property.browser_title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = uk.gov.hmrc.residencenilratebandcalculator.controllers.routes.ValueOfChangedPropertyController.onSubmit(), 'autoComplete -> "off") {

        @rnrbHelpers.error_summary(FormHelpers.getAllErrors(form))

        @rnrbHelpers.heading("value_of_changed_property.title")

        <p>@messages("value_of_changed_property.guidance1")</p>

        <p>@messages("value_of_changed_property.guidance2")</p>

        <p>@messages("value_of_changed_property.guidance3")</p>

        @rnrbHelpers.input_text(
            id = "value",
            value = Some(FormHelpers.getValue[Int](form).toString),
            label = messages("value_of_changed_property.browser_title"),
            labelClass = Some("visually-hidden"),
            secondaryLabel = Some("currency"),
            errorKey = FormHelpers.getErrorByKey(form, "value")
        )
        @rnrbHelpers.submit_button()
    }
    @rnrbHelpers.answer_rows(answerRows)

}
